@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --destructive-foreground: 0 0% 100%;
    --secondary-foreground: 0 0% 100%;
    --popover-foreground: 0 0% 95%;
    --primary-foreground: 0 0% 100%;
    --accent-foreground: 0 0% 100%;
    --muted-foreground: 0 0% 85%;
    --card-foreground: 0 0% 95%;
    --destructive: 0 84% 35%;
    --background: 240 5% 5%;
    --foreground: 0 0% 98%;
    --secondary: 240 2% 25%;
    --popover: 240 4% 12%;
    --primary: 240 3% 20%;
    --accent: 240 2% 30%;
    --border: 240 5% 44%;
    --muted: 240 3% 15%;
    --input: 240 5% 36%;
    --card: 240 4% 10%;
    --ring: 0 0% 98%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
}

@layer components {
  .font-body {
    font-family: var(--font-body);
  }

  .font-heading {
    font-family: var(--font-heading);
  }
}